
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-Book.otf");
  font-weight: 400;
}
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-DemiBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "FoundrySterling";
  src: url("#{$griffith-font-path}FoundrySterling-ExtraBold.otf");
  font-weight: 900;
}
