.imgWithCaption {
  width: 100%;
}

.imgWithCaption__img {
  width: 100%;
}

.imgWithCaption__caption {
  font-size: 1em;
  font-style: italic;
  padding: 5px;
  background-color: #26a69a;
  color: white;
}
