.reference {
  margin-top: 20px;
}

.reference__content {
  margin-top: 5px;
  font-weight: 500;

  a {
    font-weight: 600;
  }
}

.reference__comment {
  margin-top: 5px;
  font-style: italic;
  font-weight: 500;
}
