.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.babelrc
.editorconfig
.eslintrc.yml
.npmignore
.stylelintrc.yml
.travis.yml


#Diretories
app
app-react
karma
coverage
__tests__
node_modules
.idea

