.background {
  background-color: red;
  font-family: $griffith-heading;
  color: green;
}
.hello{
  //color: color('red','base');
  color: yellow;
  background-image: url('../../assets/images/BITHM_Module00_Background.jpg');
}
