
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Book.otf');
  font-weight: 400;
}
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Semibold.otf');
  font-weight: 700;
}
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Extrabold.otf');
  font-weight: 800;
}
@font-face {
  font-family: "Copernicus";
  src: url('#{$griffith-font-path}Copernicus-Heavy.otf');
  font-weight: 900;
}
