


$column-padding: 15px;

// Color
$bar_blue: #0B82DD;
$header-color: #333;
$griffith-red: #c02424;
$label-grey: #575757;

$brand-primary: #c02424 !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$body-copy-font-family: "Roboto", Arial, Helvetica, sans-serif;
$body-copy-font-size: 14px;

$desktop-contain: 960px;

$page-background: #333333; // To match footer.


$domain_color: #305599;
$domain_colors: (
  lv3: $domain_color,
  lv2: lighten($domain_color, 20%),
  lv1: lighten($domain_color, 30%)
);

$taxonomy_color: $griffith-red;
$taxonomy_colors: (
  lv1: lighten($taxonomy_color, 30%),
  lv2: lighten($taxonomy_color, 25%),
  lv3: lighten($taxonomy_color, 20%),
  lv4: lighten($taxonomy_color, 15%),
  lv5: lighten($taxonomy_color, 10%),
  lv6: lighten($taxonomy_color, 5%),
  lv7: $taxonomy_color
);

$griffith-heading: "Jotia", Arial;
$griffith-subheading: "Copernicus", Arial;
$griffith-body: "FoundrySterling", Arial;
