
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Thin.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: "Jotia";
  src: url('#{$griffith-font-path}Jotia-Heavy.otf');
  font-weight: 900;
}
