/**
 * Griffith Font
 */

$griffith-font-path: "../fonts/griffith/" !default;
$griffith-heading: 'Jotia', Arial;
$griffith-subheading: 'Copernicus', Arial;
$griffith-body: 'FoundrySterling', Arial;

@import "./fonts/copernicus";
@import "./fonts/foundrySterling";
@import "./fonts/jotia";

/**
 * Griffith Color
 */
$griffith-red: #c02424;
$label-grey: #575757;
